<header>
    <h1>{{artistName}}'s {{albumName}}</h1>
</header>
<main>
    <ul>
        {{#each trackList}}
        <li>
            <h3>{{this.name}}</h3>
            {{#if this.preview_url}}
            <audio controls>
                <source src={{this.preview_url}} type="audio/mpeg">
            </audio>
            {{else}}
            <h4>NO PREVIEW AVAILABLE!</h4>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</main>